.Purchases {
  width: 600px;
  margin: 25px auto;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: 2px 2px 4px -2px rgba(0, 0, 0, 1);
}
.PageTitle {
  background-color: darkmagenta;
  color: white;
  font-weight: lighter;
  text-align: center;
  margin-top: 0;
  padding: 5px 0;
  border: 1px solid black;
  border-radius: 5px 5px 0 0;
}
main {
  padding: 15px;
}
